@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins",sans-serif;
    font-family: 16px;
    letter-spacing: 1px;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    z-index: 5;
    align-items: center;
    background: linear-gradient(360deg,rgba(0,0,0,0) 20%,rgba(0,0,0,0.7) 85%);
}
body{
    background-image:url("./img/black_panther-1920x1080.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
}
.logo{
    font-family:"Lora";
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
}
ul{
    display: flex;
}
ul li{
    font-size: 17px;
    padding: 0 20px;
}
ul li a:after{
    content: "";
    position: absolute;
    top: 100%;
    width: 20%;
    height: 2px;
    left: 0;
    background-color: #fff;
    transition: .6s;
}
ul li a:hover:after{
    width: 70%;
}
ul li a{
    color: #fff;
    font-size: 1rem;
    transition: .6s;
    position: relative;
}
.fa-bars{
    padding: 12px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.3rem;
    opacity: 0;
}
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 100px;
}
.wrapper::after{
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    /* background: linear-gradient(-190deg,rgba(0,0,0,0) 20%,rgba(0,0,0,1) 75%); */
}
.movies{
    height: 100%;
    width: 50%; 
}
.movie-info{
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;  
}
.Heading{
   position: absolute;
   top: 26%;
   right: 14%;
   font-size: 3.8rem;
   font-weight: 800;
   letter-spacing: 2px;
   z-index: 1; 
}
.stars{
    position: absolute;
    right: 15%;
    top: 24%;
    z-index: 99;
}
.stars .fas{
    color: rgb(245, 245, 13);
}
.movieType{
    position: absolute;
    right: 15%;
    top: 37%;
    z-index: 99;
}
.fa-play{
    margin-right: 8px;
}
.movie-info button{
    position: absolute;
    right: 15%;
    top: 45%;
    z-index: 99;
    padding: 2px 18px;
    height: 38px;
    background-color: red;
    border: 1px solid red;font-size: 18px;
    color: #fff;
    font-weight: 500;
    outline: none;
    letter-spacing: 1.5px;  
}
img{
    position: absolute;
    width: 95%;
    height: 18%;
    left: 0;
    bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgb(188,188,188);
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(255, 255, 255,0.5);
}
.swiper{
    width:100%;
}
@media(max-width:1100px){
   .stars{
    top: 23%;
   } 
   .Heading{
    top: 25%;
   }
   img{
    width: 100%;
   }
}
@media(max-width:900px){
    .Heading{
        font-size: 3.5rem;
    }
    .fa-bars{
        opacity: 1;
    }
    ul{
        position: absolute;
        top: 100%;
        left: -120px;
        width: 20%;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        flex-direction: column;
        z-index: 11111;
        text-align: center;
        border: 1px solid #fff;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        transition: .8s;
    }
    ul li{
        margin: 15px 0;
        padding: 8px 0;
    }
    .change{
        left:8px
    }
}
@media(max-width:500px){
    .Heading{
        font-size: 2.5rem;
    }
    .logo{
        font-size: 2rem;
    }
}